@import 'destyle';
@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

.swiper{
    width: 100%;
    height: 100%;
    background: #F5F5FA;
}

.swiper-wrapper{
    padding-bottom: 30px;
}

.swiper-slide{
    text-align: center;
    padding: 30px 60px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img{
    margin: auto;
    display: block;
}

.swiper-pagination-bullet{
    width: 16px;
    height: 16px;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 50px 155px 60px 155px;
    &__article{
        display: flex;
        flex-direction: row;
        margin: 0 280px 60px 280px;
        &__section{
            max-width: 942px;
            margin-right: 30px;
        }
    }
}

.navs{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap:16px;
}

.contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__language{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        color: #B3B3BA;
        border-radius: 8px;
        padding: 5px 7px;
        &:hover{ 
            color:white;
            background: #F0145A; 
        }
    }
    &__link{
        &__phone{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #B3B3BA;
            &::after{
                content: "•";
                font-weight: 900;
                color: #B3B3BA;
                margin-left: 6px;
                margin-right: 6px;
            }
            &:hover{ 
                color:red;
            }
        }
        &__address{
            &::before{
                content: "•";
                font-weight: 900;
                margin-left: 6px;
                margin-right: 6px;
                color: #B3B3BA;
            }
            font-size: 16px;
            line-height: 20px;
            color: #B3B3BA;
            &::after{
                content: "•";
                font-weight: 900;
                color: #B3B3BA;
                margin-left: 6px;
                margin-right: 6px;
            }
            &:hover{ 
                color:red;
            }
        }
    }
}

.mr15{
    margin-right: 15px;
}

.contact__facebook__footer:hover{
    path{
        fill:#F0145A;
    }
}

.nav{
    display: flex;
    margin-left: auto;
    &__link{
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #24A3FF;
        &:hover{
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
            color: #F0145A;
            text-underline-offset: 3px;
        }
    }
    &__list{
        display: flex;
        flex-direction: row;
    }
}

.promo{
    border-left: 4px solid #E6E6F0;
    display: flex;
    flex-direction: column;
    gap:40px;
    padding-left: 30px;
    &__img{
        max-width: 100%;
        height: auto;
    }
    &__text{
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:12px;
    }
    &__wrap{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
}

.responsive{
    width: 100%;
    height: auto;
}

.header__article__2{
    display: flex;
    flex-direction: row;
    margin: 60px 275px;
}

.header__article__section__2{
    max-width: 938px;
    margin-right: 60px;
    &__article{
        font-size: 19px;
        line-height: 30px;
    }
    &__sentence{
        font-size: 38px;
        line-height: 46px;
        font-weight: 700;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.information{
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
    &__copyright{
        margin-left: auto;
        font-size: 16px;
        line-height: 20px;
        color: #B3B3BA;
    }
    &__block{
        display: flex;
        align-items: center;
    }
}

.information__link__address{
    font-size: 16px;
    line-height: 20px;
    color: #323264;
    &::after{
        content: "•";
        font-weight: 900;
        margin-left: 6px;
        margin-right: 6px;
        color: #B3B3BA;
    }
}

.information__link__map{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
}

.achieve{
    display: flex;
    &__header{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        margin-bottom: 30px;
    }
    &__item{
        background-color: white;
        width: 19vw;
        min-height: 110px;
        display: flex;
        align-items: center;
        padding: 25px 0;
    }
}

.mr40{
    margin-right: 40px;
}

.contacts__facebook{
    path{
        fill:#B3B3BA;
    }
    &:hover{
        path {
            fill: red;
        }
    }
}

.footer{
    background-color: #F5F5FA;
    padding: 0 160px 30px 160px;
    &__wrapper{
        border-top:2px solid #E6E6F0;
        padding-top: 30px;
    }
    &__contacts{
        display: flex;
        align-items: center;
        &__mail{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #24A3FF;
            &:hover{
                color:#F0145A;
            }
        }
        &__number{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #46466E;
            &::before{
                content: "•";
                font-weight: 900;
                margin-left: 6px;
                margin-right: 6px;
                color: #B3B3BA;
            }
            &::after{
                content: "•";
                font-weight: 900;
                margin-left: 6px;
                margin-right: 6px;
                color: #B3B3BA;
            }
        }
    }
   
}

.header__article__header{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header__article__text{
    font-size: 19px;
    line-height: 30px;
    margin-top: 28px;
    color: #000000;   
}