@import 'destyle';
@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
 }

body{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    
}

.gradient{
    background:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.header{
   display: flex;
   padding: 50px 0;
}

.navs{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.logo{
    display: block;
}

.title{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 270px;
}

.container_first{
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../img/hlegal_logo_h.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.container{
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}


.nav{
    &__list{
        display: flex;
        justify-content: right;
    }
    &__item{
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        
        }
      
    }
    &__link{
        display: block;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        &:hover{ 
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
            color: #F0145A;
            text-underline-offset: 3px;
            }
    }
}


.contacts__facebook:hover{
    path {
        fill: red;
    }
}

.contacts{
    display: flex;
    align-items:center;
            &__list{
                display: flex;
                
            }
            
            &__link{
                        &__address{
                                &::before {
                                    content: "·";
                                    color: #FFFFFF;
                                    font-weight: 900;
                                }
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 20px;
                                text-align: right;
                                color: #FFFFFF;
                            }

                        &__phone{
                            &::before {
                                content: "·";
                                color: #FFFFFF;
                                vertical-align: top;
                            }
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: right;
                            color: #FFFFFF;
                        }
                        &__social{}
            }

            &__language{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 1px;
                color: #FFFFFF;
                border-radius: 8px;
                padding: 5px 7px;
                &:hover{
                    background: #F0145A;
                }
            }
           
        }
        .down{
            margin: auto auto 30px auto;
        }
        .down__scroll:hover{
            
            circle{
                stroke: #F0145A;
            }
            path {
               stroke:#F0145A;
            }
        }

        .present{
            display: flex;
            margin: 60px 0px 0 0px;

            &__advantage{
                padding-right: 60px;
                display: flex;
                flex-direction: column;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 38px;
                line-height: 46px;
                border-right: 4px solid rgba(255, 255, 255, 0.3);
                min-width: 379px;
                text-align: right;
                &__consistent{
                    color: red;
                }  
                &__customer{
                    color: #F0145A;
                }
            }
            &__description{
                display: flex;
                flex-direction: column;
                max-width: 861px;
                margin: 73px 0 73px 60px;
                &__header{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 37px;
                    color: #FFFFFF;
                }
                &__text{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 30px;
                    color: #FFFFFF;
                    margin-top: 30px;
                }
            }
        }

    .services{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #F0145A;
        margin-top: 49px;
        &__goal{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            margin-top: 10px;
        }

    }

    .margin_bottom_30{
        margin-bottom:30px;
    }

    .gradient_red{
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    }


    .block{
        display: flex;
        margin-top: 60px;
        &__card{
            max-width: 494px;
            &__header{
                margin-top: 30px;
            }
            &__text{
                margin-top: 15px;
            }
        }
    }