@import 'destyle';
@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
 }

body{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    
}

.gradient{
    background:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 12px 12px;

}

.header{
   display: flex;
   padding: 50px 0;
}

.navs{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.logo{
    display: block;
}

.title{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 270px;
}

.container_first{
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../img/hlegal_logo_h.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.container{
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_main{
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav{
    margin-top: 16px;
    &__list{
        display: flex;
        justify-content: right;
    }
    &__item{
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        
        }
      
    }
    &__link{
        display: block;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        &:hover{ 
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
            color: #F0145A;
            text-underline-offset: 3px;
            }
    }
}


.contacts__facebook:hover{
    path {
        fill: red;
    }
}

.contacts{
    display: flex;
    align-items:center;
            &__list{
                display: flex;
                
            }
            
            &__link{
                        &__address{
                                &::before {
                                    content: "•";
                                    font-weight: 900;
                                    margin-right: 6px;
                                }
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 20px;
                                text-align: right;
                                color: #FFFFFF;
                                margin-right: 6px;
                            }

                        &__phone{
                            &::before {
                                content: "•";
                                font-weight: 900;
                                margin-right: 6px;
                            }
                            
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: right;
                            color: #FFFFFF;
                            margin-right: 6px;
                            &::after {
                                content: "•";
                                font-weight: 900;
                                color: #FFFFFF;
                                margin-left: 6px;
                            }
                        }
                        &__social{
                         
                        }
            }

            &__language{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 1px;
                color: #FFFFFF;
                border-radius: 8px;
                padding: 5px 7px;
                &:hover{
                    background: #F0145A;
                }
            }
           
        }
        .down{
            margin: auto auto 30px auto;
        }
        .down__scroll:hover{
            
            circle{
                stroke: #F0145A;
            }
            path {
               stroke:#F0145A;
            }
        }

        .present{
            display: flex;
            margin: 60px 0px 0 0px;

            &__advantage{
                padding-right: 60px;
                display: flex;
                flex-direction: column;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 38px;
                line-height: 46px;
                border-right: 4px solid rgba(255, 255, 255, 0.3);
                min-width: 379px;
                text-align: right;
                &__consistent{
                    color: red;
                }  
                &__customer{
                    color: #F0145A;
                }
            }
            &__description{
                display: flex;
                flex-direction: column;
                max-width: 861px;
                margin: 73px 0 73px 60px;
                &__header{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 37px;
                    color: #FFFFFF;
                }
                &__text{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 30px;
                    color: #FFFFFF;
                    margin-top: 30px;
                }
            }
        }

    .services{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #F0145A;
        margin-top: 49px;
        &__goal{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            margin-top: 10px;
        }

    }

    .margin_bottom_30{
        margin-bottom:30px;
    }

    .margin_right_60{
        margin-right:60px;
    }

    .margin_bottom_87{
        margin-bottom: 87px;
    }

    .gradient_red{
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    }


    .block{
        display: flex;
        margin-top: 60px;
        &__card{
            max-width: 494px;
            &__header{
                margin-top: 30px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                color: #24A3FF;
            }
            &__text{
                margin-top: 15px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
            }
        }
    }

.border{
    &__prelast{
        max-width: 1880px;
        height: 10px;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
        margin: auto;
    }
    &__last{
        max-width: 1840px;
        height: 10px;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        margin: auto;
    }
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top:60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper{
padding-bottom: 52px;
}

.mycard{
    display: flex;
    max-width: 1600px;
    background: #F5F5FA;
    border-radius: 12px;
    &__description{
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: left;
        &__team{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #24A3FF;
            margin-bottom: 5px;
        }
        &__about{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        &__person{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #B3B3BA;
            margin-top: 30px;
        }
        &__rank{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #B3B3BA;
        margin-top: 6px;
        }
    }
}

.img_border{
    max-width: 400px;
    max-height: 298px;
}

.padding_bottom_60{
    padding-bottom: 60px;
}

.intro{
    margin: 60px auto 30px auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    text-align: center;
}

.clients{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    &__item{
        min-width: 430px;
        min-height: 120px;
        display: flex;
        justify-content: center;
        }
    }

.hillel{
    background: #1C4280;
    border-radius: 12px 0px 0px 0px;
}

.wannabiz{
    background: #143646;
}

.tapgerine{
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.dlook{
    background: #9E4DC3;
    border-radius: 0px 12px 0px 0px;
}

.orangear{
    background: #FD9339;
}

.adtelligent{
    background: #E2E2E4;
}

.clickky{
    background: #C71C36;
}
.eco-leasing,.ingratek{
    background: #DCF3F9;
}

.ingratek{
    border-radius: 0px 0px 0px 12px;
}

.city-par{
    background: #282240;
}

.artprint{
    background: #1D4568;
}

.ultimatecard{
    background: #000000;
    border-radius: 0px 0px 12px 0px;
}

.publications{
    background: #F5F5FA;
    &__img{
        max-width: 514px;
        max-height: 200px;
        border-radius: 8px 8px 0px 0px;
    }
    &__block{
        display: flex;
    }
}

.theme{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
}

.date{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
}

.article{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.theme, .date, .article{
    display: block;
}