@import 'destyle';
@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
 }

body{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    position: relative;
    height: 100%;
}

.header_375{
    display: none;
}

.information__copyright_375{
    display: none;
}

.logo_and_button{
    display: none;
}
.gradient{
    background:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 12px 12px;
}

.header{
    display: flex;
   padding: 50px 0;
}

.header_768{
    visibility: hidden;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
 }

 .logo_768{
     margin-top: 30px;
 }
 
 .nav_768{
    margin-top: 30px;
 }

 .contacts{
     flex-wrap: wrap;
 }
 
 .nav__list_768{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.navs{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.logo{
    display: block;
}

.title{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 145px; 
}

.container_first{
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../img/hlegal_logo_h.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.container{
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_main{
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav{
    margin-top: 16px;
    &__list{
        display: flex;
        justify-content: right;
    }
    &__item{
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
      
    }
    &__link{
        display: block;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        &:hover{ 
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
            color: #F0145A;
            text-underline-offset: 3px;
        }
    }
}

.contacts__facebook:hover{
    path {
        fill: red;
    }
}

.contacts__facebook_footer:hover{
    path{
        fill:#F0145A;
    }
}

.contacts{
    display: flex;
    align-items:center;
    &__list{ display: flex; }   
    &__link{
        &__address{
            &::before{
                content: "•";
                font-weight: 900;
                margin-right: 6px;
            }
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #FFFFFF;
            margin-right: 6px;
        }
        &__phone{
            &::before{
                content: "•";
                font-weight: 900;
                margin-right: 6px;
            }
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #FFFFFF;
            margin-right: 6px;
            &::after{
                content: "•";
                font-weight: 900;
                color: #FFFFFF;
                margin-left: 6px;
            }
        }              
    }
    &__language{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        color: #FFFFFF;
        border-radius: 8px;
        padding: 5px 7px;
        &:hover{ background: #F0145A; }
    }
}

.down{
    margin: auto auto 30px auto;
}

.down__scroll:hover{
    circle{ stroke: #F0145A; }
    path { stroke:#F0145A; }
}

.present{
    display: flex;
    margin: 60px 0px 0 0px;
    &__advantage{
        padding-right: 60px;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        border-right: 4px solid rgba(255, 255, 255, 0.3);
        min-width: 379px;
        text-align: right;
        &__consistent{ 
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -text-fill-color: transparent;
            &:hover{ 
                background: linear-gradient(90.13deg, #dbb768 0.84%, #dcdf36 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -text-fill-color: transparent;
            } 
        }  
        &__customer{ 
            color: #F0145A; 
            min-width: 375px;
            text-align: left;
            &:hover{ color: yellow; } 
        }
        &__business{
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            color: #B3B3BA;
            &:hover{ color: yellow; } 
        }
        &__innovative{
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            color: #B3B3BA;
            &:hover{ color: yellow; } 
        }

    }
    &__description{
        display: flex;
        flex-direction: column;
        max-width: 861px;
        margin: 73px 0 73px 60px;
        &__header{
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
        }
        &__text{
            font-size: 19px;
            line-height: 30px;
            color: #FFFFFF;
            margin-top: 30px;
        }
    }
}

.services{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    margin-top: 49px;
    &:hover{
        color:#F0145A;
    }
    &__goal{
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        margin-top: 10px;
    }
}

.margin_bottom_30{ margin-bottom:30px; }
.margin_right_60{ margin-right:60px; }
.margin_right_30{ margin-right: 30px; }
.margin_bottom_87{ margin-bottom: 87px; }

.gradient_red{
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.block{
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 59px;
    &__card{ 
        max-width: 494px;
        &__header{
            margin-top: 30px;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: #24A3FF;
            max-width: 494px;
        }
        &__text{
            margin-top: 15px;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
            max-width: 494px;
        }
    }
}

.border{
    &__prelast{
        max-width: 1880px;
        height: 10px;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
        margin: auto;
    }
    &__last{
        max-width: 1840px;
        height: 10px;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        margin: auto;
    }
}

.button{
    display:none;
}
.popup{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    display: flex;
    flex-direction: column;
    display: none;
    &__dialog{
        max-width: 300px;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        padding: 20px;
    }
}

.popup--open{
    display: flex;
}

.close{
    background-color: orange;
    color:white;
    text-align: center;
}
.swiper{
  width: 100%;
  height: 100%;
  margin-top:60px;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
bottom: 50px;
}

.swiper-pagination-bullet{
    width: 16px;
    height: 16px;
}

.mycard{
    display: flex;
    max-width: 1600px;
    background: #F5F5FA;
    border-radius: 12px;
    &__description{
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: left;
        &__team{
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #24A3FF;
            margin-bottom: 5px;
        }
        &__about{
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        &__person{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #B3B3BA;
            margin-top: 30px;
        }
        &__rank{
        font-size: 14px;
        line-height: 22px;
        color: #B3B3BA;
        margin-top: 6px;
        }
    }
}

.padding_bottom_60{ padding-bottom: 60px; }

.intro{
    margin: 60px auto 30px auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    text-align: center;
}

.clients{
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item{
        min-width: 430px;
        min-height: 120px;
        display: flex;
        justify-content: center;
    }
}

.hillel{
    background: #1C4280;
    border-radius: 12px 0px 0px 0px;
}

.wannabiz{ background: #143646; }

.tapgerine{ background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30; }

.dlook{
    background: #9E4DC3;
    border-radius: 0px 12px 0px 0px;
}

.orangear{ background: #FD9339; }

.adtelligent{ background: #E2E2E4; }

.clickky{ background: #C71C36; }

.eco-leasing,.ingratek{ 
    background: #DCF3F9; 
}

.ingratek{ border-radius: 0px 0px 0px 12px; }

.city-par{ background: #282240; }

.artprint{ background: #1D4568; }

.ultimatecard{
    background: #000000;
    border-radius: 0px 0px 12px 0px;
}

.prepublication{
    padding-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    &__header{
        margin-top: 10px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.publications{
    display:flex;
  
    &__card{
        display: flex;
        flex-direction: column;
        max-width: 515px;
        background-color: white;
        &__header{
            margin-top: 30px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            margin: 30px 30px 0 30px;
            color: #24A3FF;
        }
        &__date{
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color:#B3B3BA;
            margin: 15px 30px 30px 30px;
        }
        &__article{
            font-size: 14px;
            line-height: 22px;
            color: #000000;
            margin: 0 30px;
            border-top: 4px solid #E6E6F0;;
            padding-top: 15px;
            padding-bottom: 30px;
        }
    }
}

.information{
    border-top: 2px solid #E6E6F0;
    margin-top: 30px;
    &__block{
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
    &__copyright{ 
        margin-left: auto; 
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #B3B3BA;
    }
    &__link{
        &__address{
            font-size: 16px;
            line-height: 20px;
            color: #323264;
            &::after{
                content: "•";
                font-weight: 900;
                margin-left: 10px;
                margin-right: 10px;
                color: #B3B3BA;
            }
        }
        &__map{
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #24A3FF; 
        }
    }
}

.footer{
    background: #F5F5FA;
    &__contacts{
        display: flex;
        align-items: center;
        margin-top: 21px;
        padding-bottom: 30px;
        &__number{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #46466E;
            &::before{
                content: "•";
                font-weight: 900;
                margin-left: 10px;
                margin-right: 10px;
                color: #B3B3BA;
            }
            &::after{
                content: "•";
                font-weight: 900;
                margin-left: 10px;
                margin-right: 10px;
                color: #B3B3BA;
            }
        }
        &__mail{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #24A3FF;
            &:hover{
                color:#F0145A;
            }
        }
   
    }
}

@media (max-width:1440px)
{

    .title{
        margin: 0;
    }
    .container_first{
        margin: 0 60px;
    }
    .container{
        margin: 0 60px;
        padding: 0;
    }
   .present__description{
       max-width: 581px;
       margin-top: 43px;
   }
   .present__advantage{
       margin-left: 120px;
       max-height: 303px;
   }
   .block__card{
       max-width: 400px;
   }
 
   .mycard__description__about{
       max-width: 860px;
   }

   .container_main{
       padding: 0;
   }
   .clients{
        &__item{
            min-width: 360px;
        }
    }
    .hillel, .dlook, .ingratek, .ultimatecard{
        border-radius: 0;
    }
}

@media (max-width:1024px){
    .container{
        padding: 0;
    }
    .present__advantage{
        margin:0;
    }
    .present__description{
        max-width: 405px;
        margin-top: 0px;
    }
    .block__card{
        max-width: 262px;
    }

    .mycard__description{
        max-width: 504px;
    }

    .swiper-wrapper{
        padding:0;
    }

    .clients__item{
        min-width: 256px;
    }

    .publications__card{
        max-width: 282px;
    }

    .clients{
        &__item{
            min-width: 256px;
        }
    }
}

@media (max-width:768px){
    .present{
        flex-direction: column;
        &__advantage{
            flex-direction: row;
            border-right: none;
            border-bottom: 4px solid rgba(255, 255, 255, 0.3);
            overflow: scroll;
            gap:30px;
            &__business{
                min-width: 358px;
                text-align: left;
            }
        }
    } 

    .title{
        margin-top: 120px;
    }

    .block__card{
        min-width: 294px;
    }

    .mycard{
        flex-wrap: wrap;
        margin-left:60px;
        margin-right:60px;
    }
    .mycard__description__about{
        min-width:588px;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: 0px;
        }

    .present__description{
        margin: 60px 0 0 0;
        max-width: 648px;
    }

    .publications{
       flex-wrap: wrap;

    }
    .publications__card{
        max-width: 309px;
        &:nth-child(2){
            margin-right: 0;
        }
    }
    .publications__card__last{
        background-color: white;
        margin-top:30px;
    }

    .header{
        display: none;
    }
    .header_768{
        visibility: visible;
    } 
    .contacts{
        flex-wrap: wrap;
    }
    
    .publications__card:last-child{
        max-width: 648px;
        margin-top: 30px; 

    }
}

@media (max-width:375px){
    .button{
        display: flex;
        margin-left: auto;
      
    }

    .container_first{
        margin:0;
        padding:0;
    }

    .container{
        margin:0 30px;
    }
    .title{
        max-width: 315px;
        margin: auto;
    }

    .present__description__header{
        font-size: 20px;
        line-height: 24px;
    }

    .header_768{
        display: none;
    }
    .header_375{
        display: flex;
        align-items: center;
        padding:10px 0;
        background: rgba(245, 245, 250, 0.2);
    }

    .logo_and_button{
        display: flex;
        align-items: center;
        margin: 0 15px;
    }

    .mycard{
        margin: 0 0 0 30px;
    }

    .clients__item{
        min-width: 375px;
    }
    .mycard__description__about{
        min-width: 100px;
        max-width: 255px;
    }
    .contacts__link__phone__375{
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #FFFFFF;
        margin: 0 15px 0 auto;
    }

    .contacts__link:first-child{
        margin-left:15px;
    }

    
    .nav__link_375{
        display: block;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    .publications__card:last-child{
        max-width: 315px;
        margin-top: 30px; 

    }

    .information__block{
        flex-direction: column;
    }

    .information__copyright{
        display: none;
    }

    .footer__contacts{
        flex-direction: column;
        gap:10px;
    }

    .information__link__address{
        margin-bottom: 30px;
    }

    .information__copyright_375{
        margin-top: 30px;
        font-size: 16px;
        line-height: 20px;
        color: #B3B3BA;
        display: block;
    }
}



